<?php

// This is the database connection configuration.
return array(
	
	// uncomment the following lines to use a MySQL database
	
	'connectionString' => 'mysql:host=localhost;dbname=unidagon_wisuda',
	'emulatePrepare' => true,
	'username' => 'admin',
	'password' => 'admin1988',
	'charset' => 'utf8',
	
);
